*.pdf
*.pdb
*.exe
*.suo
*.user
*.cache
*.log
*.csproj.FileListAbsolute.txt
*.dll
Microsoft.Web.Infrastructure.xml
*bk
*bak
*TestResult.xml
obj/
bin/
[Oo]bj/
[Bb]in/
_ReSharper*
*.exp
*.ilk
*.lib
*.ncb
[Dd]ebug
[Rr]elease
*.[Pp]ublish.xml
!packages/**/*.dll
!packages/**/*.exe
*.pubxml
Logs/
.vs